<md-toolbar color="primary">
    <span>Angular App</span>
    <span fxFlex></span>
    <a routerLink="" md-button>About</a>
    <a routerLink="" md-button>Contact</a>
    <button md-icon-button [mdMenuTriggerFor]="apps">
      <md-icon>more_vert</md-icon>
    </button>

    <md-menu [overlapTrigger]="false" #apps="mdMenu">
        <button md-menu-item routerLink="quotes" routerLinkActive="active">Movie Quotes</button>
        <button md-menu-item routerLink="password-manager" routerLinkActive="active">Password Manager</button>
    </md-menu>
</md-toolbar>

<md-card class="container">
    <router-outlet></router-outlet>
</md-card>