<md-toolbar color="primary">
    <span>Angular App</span>
    <span class="spacer"></span>
    <a routerLink="" md-button>About</a>
    <a routerLink="" md-button>Contact</a>
</md-toolbar>

<md-card class="container">
    <md-card-content>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Similique excepturi est sapiente ea voluptas ipsum modi quis, dolores eos itaque nobis nam aspernatur ad facilis animi incidunt adipisci error quod.</p>
    </md-card-content>
    <router-outlet></router-outlet>
</md-card>